<div class="bg-navbar text-white text-lg">
  <div class="flex items-center px-4 py-3">
    <div class="w-1/4">
      <a class="text-xl font-serif tracking-widest" href=""> Lyricys </a>
    </div>

    <div class="w-1/2 flex justify-center">
      <ul class="w-full flex gap-6 justify-center">
        <li class="w-1/4 p-1 text-right">
          <a href="">Home</a>
        </li>

        <li class="w-1/4 p-1 text-left">
          <a class="w-full" href=""> My Songs </a>
        </li>
      </ul>
    </div>

    <div class="w-1/4 text-right">
      <a href="">Profile</a>
    </div>
  </div>
</div>
