<div class="text-white bg-nested text-lg h-full flex flex-col">
  <ul class="h-8/10">
    <li
      class="border-t-1 border-white/40 px-4 py-3 mt-5 hover:bg-gray-700 cursor-pointer"
    >
      All Songs
    </li>
    <li
      class="border-t-1 border-white/40 px-4 py-3 hover:bg-gray-700 cursor-pointer"
    >
      Add a Song
    </li>
    <li
      class="border-t-1 border-white/40 px-4 py-3 hover:bg-gray-700 cursor-pointer"
    >
      Recent
    </li>
    <li
      class="border-t-1 border-white/40 px-4 py-3 hover:bg-gray-700 cursor-pointer"
    >
      Favourites
    </li>
    <li
      class="border-t-1 border-white/40 border-b-1 px-4 py-3 hover:bg-gray-700 cursor-pointer"
    >
      Finished
    </li>
  </ul>

  <div class="mt-auto px-4 py-4 hover:bg-gray-700 cursor-pointer">Settings</div>
</div>
